.mainTop {
  margin: 50px auto 0;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}

.mainTop > div {
  width: 20vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border: 2px solid #8997c5;
  border-radius: 10px;
}

.mainTop > button {
  width: 10vw;
  font-size: 20px;
}

.mainMidMarquee {
  margin: 50px auto 0;
  max-width: 700px;
  font-size: 40px;
  border-left: #8997c5 5px solid;
  border-right: #8997c5 5px solid;
  border-radius: 10px;
}

.mainMiddleBtn {
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.mainMiddleBtn > button {
  font-size: 30px;
}

.mainBoards {
  margin: 30px auto 0;
  max-width: 1000px;
  height: 70px;
  display: flex;
  align-items: center;
  border: 1px solid #8997c5;
  border-radius: 10px;
}

.mainBoardView {
  display: flex;
  margin: 0 0 0 20px;
  width: 800px;
}

.likeAndCommentCount {
  width: 100px;
  display: flex;
  justify-content: left;
}
